<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>InstaTeam</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>
    <div class="container">
        <div class="site-header">
            <a class="logo" href="index.html">InstaTeam</a>
            <a class="new-project button icon-left" th:href="@{/projects/add-new}"><i class="material-icons">add</i> New Project</a>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li class="selected"><a th:href="@{/}">Projects</a></li>
        <li><a th:href="@{/collaborators}">Collaborators</a></li>
        <li><a th:href="@{/roles}">Roles</a></li>
    </ul>
</nav>
<section>
    <div class="container wrapper">
        <div class="project-list">
            <div th:each="project : ${projects}" class="project">
                <!--/* Project name : link to project detail page */-->
                <h2><a th:text="${project.name}" th:href="@{'projects/' + ${project.id} + '/details'}">Project Name</a></h2>
                <!--/* Project description */-->
                <p th:text="${project.description}">Project Description</p>

        </div>
    </div>
    </div>
</section>
</body>
</html>