<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'InstaTeam | ' + ${page_title}">InstaTeam | Page Title</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <!--icons-->

</head>
<body>
<header th:fragment="header(page_title)">
    <div class="container">
        <div class="site-header">
            <a class="logo"
               th:text="'InstaTeam : ' + ${page_title}"
               th:href="@{/}">InstaTeam : Page Name</a>
            <a class="new-project button icon-left"
               th:href="@{/projects/add-new}">
                <i class="material-icons">add</i> New Project
            </a>
        </div>
    </div>
</header>
<!--/* Nav fragments takes string as arguments, and makes selected
       class that corresponds: projects, roles or collaborators
*/-->
<nav th:fragment="nav(selected_tab)">
    <ul>
        <li th:class="(${selected_tab == 'projects'}? 'selected' : '')">
            <a th:href="@{/}">Projects</a>
        </li>
        <li th:class="(${selected_tab == 'collaborators'}? 'selected' : '')">
            <a th:href="@{/collaborators}">Collaborators</a>
        </li>
        <li th:class="(${selected_tab == 'roles'}? 'selected' : '')">
            <a th:href="@{/roles}">Roles</a>
        </li>
    </ul>
</nav>
<!--/* Flash fragment with successfull action of user: all CRUDS
       and on failure as well on pages with really wrong data
       */-->
<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div th:classappend="${#strings.toLowerCase(flash.status)}"
         th:text="${flash.message}" class="flash">
    </div>
</div>
<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.1.0.js"
            integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
            crossorigin="anonymous">
    </script>
    <script th:src="@{/app.js}"></script>
</div>
</body>
</html>